.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-group {
  justify-content: center;
}

.list-group-horizontal {
  justify-content: center;
  margin: 10px;
  flex-wrap: wrap;
}

.heading-3 {
  color: olivedrab;
}
.result {
  /* background: #efe1d1; */
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 85%;
  padding: 10px;
  border: solid 3px black;
}

.dropdown-all {
  margin: 10px;
}

.p-3 {
  color: black;
}

.footer-copyright {
  /* background-color: #102C57; */
  position: fixed;
  width: 100%;
  bottom: 0;
}

.page-footer {
  color: #757575;
}

.bg-body-tertiary, .dropdown-menu{
  background-color: #F8F0E5 !important;
}

footer{
  padding-top: 10px;
  margin-top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  /* position: fixed; */
  width: 100%;
}

.navbar-brand {
  font-family: logo-font;
}